<p style="color: green"><%= notice %></p>

  <h1>MMI Records</h1>

  <div class="container" id="tracks">
    <div class="row justify-content-center">
      <% @tracks.each do |track| %>
        <%= render track %>
        <p>
          <%= link_to "Show this track", track %>
        </p>
      <% end %>
    </div>
  </div>

  <div class="boutton">
    <%= link_to "New track", new_track_path %>
  </div>